[Unit]
Description=StockMaster Weekly Calibration Timer

[Timer]
Unit=stockmaster-scheduler@weekly-calibration.service
OnCalendar=Sat *-*-* 10:00:00
Persistent=true
AccuracySec=1m

[Install]
WantedBy=timers.target
